$backgroundColor: #f5f5f5;
$darkBackgroundColor: #949494;
$buttonColor: #5E7FC1;

$marginAuto: 0 auto;
$mainPadding: 2rem;

$basicFont: 1rem;
$biggerFont: 1.3rem;
$titleFont: 2.75rem;

$thickBorder: 2px solid;
$thinBorder: 1px solid;

@mixin button ($backgroundColor: #5E7FC1, $color: #FFFFFF, $border: 2px solid $buttonColor, $shadow: 0 8px 16px 0 rgba(0,0,0,0.2), $transition: 0.4s, $alignment: center, $padding: 15px 32px, 
                $display: inline-block, $cursor:pointer, $font: 'Montserrat', $fontSize: 16px) {
    background-color: $backgroundColor;
    color: $color;
    border: $border;
    box-shadow: $shadow;
    transition-duration: $transition;
    text-align: $alignment;
    padding: $padding;
    cursor: $cursor;
    font-family: $font;
    font-size: $fontSize;
}

@mixin grid ($columns, $rows) {
    grid-template-columns: $columns;
    grid-template-rows: $rows;
}

body {
    margin: $marginAuto;
    font: {
        size: $basicFont;
        family: 'Montserrat', serif;
    }
    line-height: 1.6;
    width: 100%;
}

.top-menu {
    background-color:black;
    border-bottom: $thickBorder $backgroundColor;
    justify-content: space-around;
    display: flex;
    &__options {
        display: block;
        text-align: center;
        &--home, &--others {
            list-style: none;
            padding: 0px 10px;
            a {
                text-decoration: none;
                color: #FFFFFF;    
            }
        }
        &--home {
            a {
                border-bottom: $thinBorder #FFFFFF;  
            }
        }
    }
}

header {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(images/palmy.jpg), no-repeat;
    text-align: center;
    color: #FFFFFF;
    display: grid;
    @include grid (100%, repeat(2, 1fr));
    align-items: center;
}

.header__title {
    font-size: $titleFont;
    padding-top: $mainPadding;
    margin: 0;
    line-height: 2.5em;
    &::after {
        content:'';
        display:block;
        width: 20%; 
        height:100%;
        border-bottom: $thickBorder #FFFFFF;
        margin: 0 auto;
    }
}

.header__caption {
    font-size: $biggerFont;
    padding: $mainPadding;
}

.header__grey-area {
    border-bottom: $thickBorder $backgroundColor;
    background-color: $darkBackgroundColor;
    grid-column: {
        start: 1;
        end: span 1;
    }
    grid-row: {
        start: 1;
        end: 3;
    }
    &--img {
        max-width: 100%;
        max-height: 100%;
        display: block;
    }
}    
    
.main-container {
    padding: $mainPadding $mainPadding*2;
}

.about-me {
    padding-bottom: $mainPadding;
    display: block;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        fill: $buttonColor;
        padding: 1rem;
        animation: move 1s ease infinite;
    }
    &__resume  {
        @include button();
        &:hover {
            @include button(#FFFFFF, $buttonColor);
        }
    }     
}

@keyframes move {
    to {
        opacity: 0;
        transform: translateY(50%) ;
    }
}

.skills__texts {
    display: grid;
    @include grid (repeat(auto-fit, minmax(250px, 1fr)), 1fr);
    column-gap: 25px;
    align-items: center;
    justify-items: center;
    padding-bottom: $mainPadding*1.5;
    img {
        width: 35%;
    }
}

.contact-me {
    display: block;
    padding-bottom: $mainPadding;
    &__links {
        display: flex;
        justify-content: center;
        &--logo {
            padding: $mainPadding/2;
        }    
    }
    &__email-link {
        display: flex;
        justify-content: center;
        color: black;
        font-weight: 600;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}


#fb-circle, #insta-circle {
    fill: $buttonColor;
    transition: all ease .5s;
    transform-origin: center; 
}

#fb:hover #fb-circle, #insta:hover #insta-circle {
    fill: transparent;
}

#fb:hover #fb-path, #insta:hover #insta-inner, #insta:hover #insta-dot, #insta:hover #insta-square {
    fill: $buttonColor;
}

.footer {
    color:$darkBackgroundColor;
    text-align: center;
    border-top: $thinBorder $darkBackgroundColor;
    background-color: #FFFFFF;
    margin-top: 0;
}

@media (min-width: 500px) {
    .top-menu__options {
        display: flex;
    }
}

@media (min-width: 1200px) {

    body {
        background-color: #f5f5f5;
        width: 1200px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);;
    }

    .top-menu__options {
        &--home, &--others {
            padding: 0px $mainPadding;
        }    
    }

    header {
        display: grid;
        @include grid(400px minmax(600px, 800px), repeat(2, 1fr));
    }

    .header__grey-area {
        height: 398px;
        border-right: $thickBorder $backgroundColor;
        border-bottom: none;
    }    

    .main-container {
        background-color: #FFFFFF;
    }

    .about-me {
        display: grid;
        grid-template-areas: 
            "title title title"
            "text text button"
            ;
        &__title {
            grid-area: title;
        }    
        &__text {
            grid-area: text;
            padding-right: $mainPadding;          
        }
    }

    .btn__resume {
        grid-area: button;
    }

    .contact-me {
        &__links--logo {
            display: inline-block;
        }
        &__email-link {
            font-size: $biggerFont;
        }
    }    
}
