body {
  margin: 0 auto;
  font-size: 1rem;
  font-family: "Montserrat", serif;
  line-height: 1.6;
  width: 100%;
}

.top-menu {
  background-color: black;
  border-bottom: 2px solid #f5f5f5;
  justify-content: space-around;
  display: flex;
}
.top-menu__options {
  display: block;
  text-align: center;
}
.top-menu__options--home, .top-menu__options--others {
  list-style: none;
  padding: 0px 10px;
}
.top-menu__options--home a, .top-menu__options--others a {
  text-decoration: none;
  color: #FFFFFF;
}
.top-menu__options--home a {
  border-bottom: 1px solid #FFFFFF;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/palmy.jpg), no-repeat;
  text-align: center;
  color: #FFFFFF;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
}

.header__title {
  font-size: 2.75rem;
  padding-top: 2rem;
  margin: 0;
  line-height: 2.5em;
}
.header__title::after {
  content: "";
  display: block;
  width: 20%;
  height: 100%;
  border-bottom: 2px solid #FFFFFF;
  margin: 0 auto;
}

.header__caption {
  font-size: 1.3rem;
  padding: 2rem;
}

.header__grey-area {
  border-bottom: 2px solid #f5f5f5;
  background-color: #949494;
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: 3;
}
.header__grey-area--img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.main-container {
  padding: 2rem 4rem;
}

.about-me {
  padding-bottom: 2rem;
  display: block;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn svg {
  fill: #5E7FC1;
  padding: 1rem;
  -webkit-animation: move 1s ease infinite;
          animation: move 1s ease infinite;
}
.btn__resume {
  background-color: #5E7FC1;
  color: #FFFFFF;
  border: 2px solid #5E7FC1;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition-duration: 0.4s;
  text-align: center;
  padding: 15px 32px;
  cursor: pointer;
  font-family: "Montserrat";
  font-size: 16px;
}
.btn__resume:hover {
  background-color: #FFFFFF;
  color: #5E7FC1;
  border: 2px solid #5E7FC1;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition-duration: 0.4s;
  text-align: center;
  padding: 15px 32px;
  cursor: pointer;
  font-family: "Montserrat";
  font-size: 16px;
}

@-webkit-keyframes move {
  to {
    opacity: 0;
    transform: translateY(50%);
  }
}

@keyframes move {
  to {
    opacity: 0;
    transform: translateY(50%);
  }
}
.skills__texts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: 1fr;
  -moz-column-gap: 25px;
       column-gap: 25px;
  align-items: center;
  justify-items: center;
  padding-bottom: 3rem;
}
.skills__texts img {
  width: 35%;
}

.contact-me {
  display: block;
  padding-bottom: 2rem;
}
.contact-me__links {
  display: flex;
  justify-content: center;
}
.contact-me__links--logo {
  padding: 1rem;
}
.contact-me__email-link {
  display: flex;
  justify-content: center;
  color: black;
  font-weight: 600;
  text-decoration: none;
}
.contact-me__email-link:hover {
  text-decoration: underline;
}

#fb-circle, #insta-circle {
  fill: #5E7FC1;
  transition: all ease 0.5s;
  transform-origin: center;
}

#fb:hover #fb-circle, #insta:hover #insta-circle {
  fill: transparent;
}

#fb:hover #fb-path, #insta:hover #insta-inner, #insta:hover #insta-dot, #insta:hover #insta-square {
  fill: #5E7FC1;
}

.footer {
  color: #949494;
  text-align: center;
  border-top: 1px solid #949494;
  background-color: #FFFFFF;
  margin-top: 0;
}

@media (min-width: 500px) {
  .top-menu__options {
    display: flex;
  }
}
@media (min-width: 1200px) {
  body {
    background-color: #f5f5f5;
    width: 1200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .top-menu__options--home, .top-menu__options--others {
    padding: 0px 2rem;
  }

  header {
    display: grid;
    grid-template-columns: 400px minmax(600px, 800px);
    grid-template-rows: repeat(2, 1fr);
  }

  .header__grey-area {
    height: 398px;
    border-right: 2px solid #f5f5f5;
    border-bottom: none;
  }

  .main-container {
    background-color: #FFFFFF;
  }

  .about-me {
    display: grid;
    grid-template-areas: "title title title" "text text button";
  }
  .about-me__title {
    grid-area: title;
  }
  .about-me__text {
    grid-area: text;
    padding-right: 2rem;
  }

  .btn__resume {
    grid-area: button;
  }

  .contact-me__links--logo {
    display: inline-block;
  }
  .contact-me__email-link {
    font-size: 1.3rem;
  }
}/*# sourceMappingURL=styles.css.map */